.container_12
  .grid_12
    %center
      %h1 Temperature Variation and Base Pairs

  .grid_8
    %table{:id => 'position-table', :class => "tablesorter"}
      %thead
        %tr 
          %th Position 1
          %th Position 2
          %th Sequence
          %th Base Pair Family
          %th Analysis
      %tbody
        - @data.each do |point|
          %tr
            %td= point['positions'][0]
            %td= point['positions'][1]
            %td= point['sequence']
            %td 
              %a{:class => 'load_family_image', :href => '#'}= point['family']
            %td
              %a{:class => 'load_analysis_image', :href => '#'} Load

  .grid_4
    .analysis
      %h4{:id => "analysis_data"} None
      %img{:id => "analysis_image"}
