!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en",
  :lang => "en"}
  %head
    %script{:src => $base_url + 'javascript/jquery.js'}
    %script{:src => $base_url + 'javascript/jquery.tablesorter.js'}
    %script{:src => $base_url + 'javascript/jquery.quicksearch.js'}
    %script{:src => $base_url + 'javascript/dragtable.js'}
    %script{:src => $base_url + 'javascript/keymaster.min.js'}
    %script{:src => $base_url + 'coffeescript/jmol_loader.js'}
    %script{:src => $base_url + 'javascript/site.js'}
    %script{:src => $base_url + 'jmol/jmol.js'}
    %link{rel: "stylesheet", type: "text/css",
      href: $base_url + 'stylesheets/bootstrap-1.2.0.min.css'}
    %link{rel: "stylesheet/less", type: "text/css",
      href: $base_url + 'stylesheets/main.less'}
    %script{:src => $base_url + 'javascript/less.js'}
    %title= @title

  %body
    .topbar
      .topbar-inner
        .container
          %h3 
            %a{href: $base_url} Variations
          %ul{class: "nav"}
            %li
              %a{href: '#'} Phylogeny
            %li{class: 'dropdown'}
              %a{href: '#', class: 'dropdown-toggle'} Family
              %ul{class: 'dropdown-menu'}
                - $nav_families.each do |family|
                  %li
                    %a{href: '/family/' + family}= family
    = yield
