!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", 
  :lang => "en"}
  %head
    %script{:src => $base_url + 'javascript/jquery.js'}
    %script{:src => $base_url + 'javascript/jquery.tablesorter.js'}
    %script{:src => $base_url + 'javascript/jquery.quicksearch.js'}
    %script{:src => $base_url + 'javascript/site.js'}
    %script{:src => $base_url + 'javascript/dragtable.js'}
    %link{:rel => "stylesheet/less", :href => $base_url + 'stylesheets/main.less',
      :type => 'text/css'}
    %script{:src => $base_url + 'javascript/less.js'}
    %link{:rel => "stylesheet", :media => 'all', 
      :href => $base_url + 'stylesheets/960.css', :type => 'text/css' }
    %title= @title
  %body
    = yield
