%table{:id => 'family-table', :class => 'tablesorter'}
  %thead
    %tr
      %th Family
      %th Count
  %tbody
    - @families.each do |family|
      %tr
        %td= family['name']
        %td= family['count']
