.container
  .row
    %div{class: "span16 columns"}
      %center
        %h1= @family
    .images
      - @data.each do |data|
        %div{:class => "span4 columns"}
          .position
            %center
              %h3= data[:positions].join(' ')
            %img{:src => data[:src]}
