@border_color: black;

body, html {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 750px;
  margin: 0 auto;
}

#left {
  float: right;
  width: 250px;
  background:#c9c;
}

#right {
  background:#cc9;
}

th {
  border-bottom: 1px solid @border_color;
}

td {
  text-align: center;
}

// vim: ft=less
